[submodule "dependencies/realsense-ros"]
	path = dependencies/realsense-ros
	url = https://github.com/IntelRealSense/realsense-ros.git
	branch = ros2-legacy
[submodule "dependencies/sparkcan"]
	path = dependencies/sparkcan
	url = https://github.com/grayson-arendt/sparkcan
