[submodule "dependencies/realsense-ros"]
	path = dependencies/realsense-ros
	url = https://github.com/IntelRealSense/realsense-ros.git
	branch = ros2-legacy
[submodule "dependencies/apriltag_msgs"]
	path = dependencies/apriltag_msgs
	url = https://github.com/christianrauch/apriltag_msgs
[submodule "dependencies/apriltag_ros"]
	path = dependencies/apriltag_ros
	url = https://github.com/christianrauch/apriltag_ros
[submodule "dependencies/imu_tools"]
	path = dependencies/imu_tools
	url = https://github.com/IllinoisRoboticsInSpace/imu_tools
[submodule "MotorDriver/lib/EmbeddedProto"]
	path = MotorDriver/lib/EmbeddedProto
	url = https://github.com/Embedded-AMS/EmbeddedProto.git
[submodule "dependencies/CytronMotorDriver"]
	path = dependencies/CytronMotorDriver
	url = https://github.com/CytronTechnologies/CytronMotorDriver